# fly.toml app configuration file generated for swifthire-frosty-river-6463 on 2025-12-21T15:58:11Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'swift-hire'

primary_region = 'lhr'
kill_signal = 'SIGTERM'
kill_timeout = 120

[build]

[processes]
  app = '/app/start_app.sh'

[deploy]
  strategy = 'rolling'
  wait_timeout = '10m'
[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']
  [http_service.concurrency]
    type = 'requests'
    soft_limit = 200
    hard_limit = 250
  [http_service.http_options]
    idle_timeout = 600

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024

[mounts]
  source = "data"
  destination = "/data"
[env]
  DATABASE_PATH = "/data/jobs.db"

